<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.momoandroid.lebsy">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.ItemActivity"></activity>
        <activity
            android:name=".view.activitiesCategory.uiFurniture.ui.mainFurniture.FurnitureActivity"
            android:label="@string/title_activity_furniture"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activitiesCategory.uiBeauty.ui.mainBeauty.BeautyActivity"
            android:label="@string/title_activity_beauty"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activitiesCategory.uiShoes.ui.mainShoes.ShoesActivity"
            android:label="@string/title_activity_shoes"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activitiesCategory.uiShirts.mainShirts.ShirtActivity"
            android:label="@string/title_activity_shirt"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.uiBottomNavigation.CategoriesActivity"
            android:label="@string/title_activity_categories" />
        <activity
            android:name=".view.mainAuth.AuthenticationActivity"
            android:label="@string/title_activity_authentication"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>